body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  padding: 2.5vw;
  background-color: #666;
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: flex-start;
}

.items-wrapper {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vh;
  border: 3px solid white;
}

input {
  height: 40px;
}

.button {
  margin: 2.5vh;
  background-color: orchid;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: 3px solid white;
  width: 200px;
}

.turnos {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding: 1vh;
  width: 40px;
  height: 40px;
  background-color: red;
  color: white;
  font-size: 2em;
}

.card-container {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2vw;
}
.card {
  width: 180px;
  height: 180px;
  background-color: red;
}

.card1 {
  background-image: url('./img/ada-lovelace.jpg');
  width: 180px;
  height: 180px;
}
.card2 {
  background-image: url('./img/chien-s.png');
  width: 180px;
  height: 180px;
}

.card3 {
  background-image: url('./img/grace-hopper.jpg');
  background-size: 180px;
  width: 180px;
  height: 180px;
}

.back {
  width: 180px;
  height: 180px;
  background-image: url('./img/ada-logo.png')
}

.hidden {
  display: none;
}
